@import "tailwindcss";

@font-face {
  font-family: Agrandir;
  font-weight: normal;

  src: url("/graphic/fonts/Agrandir/Agrandir-WideBlackItalic.otf") format(".otf");
}
/*
* {
  font-family: Agrandir;
} 
*/

:root {
  color-scheme: light dark;
}
header {
  
  background-color: light-dark(white,#010409);
}
body {
  background-color: light-dark(#ededed,#1b1d20);
  font-family: 'Agrandir', sans-serif;
}

footer {
  
  
  background-color: light-dark(white,#010409);
}

h1 {
  color: light-dark(black, white);
}

li {
  text-decoration: none; 
  color: light-dark(#010409,white);
}

li:hover {
   color: light-dark(black, rgb(35, 75, 75));
}